@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Tomorrow", sans-serif;
  min-height: 100vh;
  overflow: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(77, 20, 164);
}
