.container {
  background-color: #14172b;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem;
  gap: 8rem;
}

.heading {
  display: flex;
  gap: 16px;
}

.heading img {
  width: 20px;
}

.heading p {
  color: white;
  font-weight: 600;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem 3rem;
}
